page-relat-fidelidade {
    ion-content {
            background-color: #c2b49a !important;
        }

    ion-item-divider {
        background-color: #756952 !important;
        min-height: 0px !important;
    }

}
