page-anuncio-full {

  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-bottom: 0px;
  }

  .slide-image {
    // max-height: 80%;
    // max-width: 100%;
    margin: 0 0 25px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

  ion-content {
    .scroll-content {
      margin-top: 65px !important;
      padding: 13px!important;
      // margin-bottom:10px!important
    }
    .swiper-pagination {
      bottom: 0px !important;
    }
  }
}
