<ion-header>
    <ion-navbar color="ctd-navbar">
        <ctd-header></ctd-header>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="searchDescritor" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="" (ionClear)="onCleanInput()"></ion-searchbar>

    <!--<div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>-->

    <div *ngIf="descritorEnable == false">
        <ion-grid>
            <ion-row *ngFor="let itemRow of categorias">
                <ion-col width-33 *ngFor="let itemCol of itemRow">
                    <img src="{{itemCol.cate_tx_imagem}}" (click)="openGuiaCategoria(itemCol.cate_nm_categoria, itemCol.cate_sq_id)">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div *ngIf="descritorEnable == true">
        <ion-item-group>
            <ion-item *ngFor="let item of descritores">
                <button ion-item (click)="openGuiaDescritor(item.desc_nm_descritor, item.desc_sq_id)">
                {{item.desc_nm_descritor}}
                </button>
            </ion-item>
        </ion-item-group>
    </div>

</ion-content>