page-guia {
    ion-content {
        background-color: #c2b49a !important;
    }

    ion-col img {
        width: 70% !important;
        margin-left: 15px !important;
    }

  .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

   .listaDescritores {
       padding-left: 1px !important;
       .item-inner {
           height: 25px !important;
       }
   }

   .avatar {
        float: left;
        // margin-top: 1em;
        // margin-right: 1em;
        // position: relative;
        width:35px; 
        height:35px; 
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;

        // -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
        // -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
        // box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    }
}
