<ion-header>
    <ion-navbar color="ctd-navbar">
        <img class="icocit" src="assets/img/icon.png" />
        <ion-title class="citadino">
            CITADINO
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content id="login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <ion-row>
            <ion-col width-100></ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-100>
                <ion-item [class.error]="!email.valid && email.touched" class="inputEmail">
                    <ion-label class="labelEmail">
                        <ion-icon name="md-mail"></ion-icon>
                    </ion-label>
                    <ion-input text-lowercase type="text" value="" [formControl]="email" placeholder="E-mail"></ion-input>
                </ion-item>
                <div *ngIf="(email.hasError('required') || email.hasError('isValid')) && email.touched" class="error-box">* Informe um email válido.</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-100>
                <ion-item [class.error]="!password.valid && password.touched" class="inputSenha">
                    <ion-label class="labelSenha">
                        <ion-icon name="md-lock"></ion-icon>
                    </ion-label>
                    <ion-input type="password" value="" [formControl]="password" placeholder="Senha"></ion-input>
                </ion-item>
                <div *ngIf="(password.hasError('required') || password.hasError('minlength')) && password.touched" class="error-box">* Senha com no mínimo de 6 caracteres.</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-20></ion-col>
            <ion-col width-60 no-padding>
                <div>
                    <button no-padding ion-button type="submit" class="custom-button" [disabled]="!loginForm.valid" block>Acessar</button><br/>
                </div>
            </ion-col>           
            <ion-col width-20></ion-col>
        </ion-row>
        <ion-row style="height: 35px;">
            <ion-col width-10 no-padding>
            </ion-col>
            <ion-col width-80 no-padding>
                <button ion-item clear no-padding margin-left class="btnEnviarSenha" (click)="criarConta()">
                <ion-icon name="ios-contact" item-start no-padding no-margin></ion-icon>
                    Criar uma conta Citadino
                </button>
            </ion-col>
            <ion-col width-10 no-padding>
            </ion-col>
        </ion-row>
        <ion-row style="height: 35px;">
            <ion-col width-10 no-padding>
            </ion-col>
            <ion-col width-80 no-padding>
                <button ion-item clear no-padding margin-left class="btnEnviarSenha" (click)="enviarSenha()">
                <ion-icon name="md-help-circle" item-start no-padding no-margin></ion-icon>
                    Esqueceu sua senha ?
                </button>
            </ion-col>
            <ion-col width-10 no-padding>
            </ion-col>
        </ion-row>
    </form>
</ion-content>