<ion-header>
    <!-- <ion-navbar color="ctd-navbar">
        <ctd-header-modal [titulo]=[(mens_nm_enviado)] [pathImage]=[(mens_tx_logo_enviado)]></ctd-header-modal>
    </ion-navbar> -->
    <ion-navbar color="ctd-navbar">
        <ion-avatar item-left style="float:left" *ngIf="pathImage != ''">
            <img class="avatar" src="{{mens_tx_logo_enviado}}" />
        </ion-avatar>
        <ion-title>
            {{mens_nm_enviado}}
        </ion-title>
        <ion-buttons right>
            <button ion-button right (click)="close()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-lines>
        <ion-item *ngFor="let msg of getMensagens() | async" style="background-color:#c2b49a !important">
            <div class="chatBubble">
                <!--<img class="profile-pic {{msg.position}}" src="{{msg.img}}">-->
                <div class="chat-bubble" [ngClass]="{'right': usua_sq_logado === msg.usua_sq_id_from, 'left': usua_sq_logado != msg.usua_sq_id_from}">
                    <div class="message">{{msg.mens_txt_mensagem}}</div>
                    <div class="message-detail">
                        <span style="font-weight:bold;">{{msg.usua_nm_usuario_from.substring(0,6)}}</span>
                        <span>{{msg.mens_dt_data}}</span>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row>
            <!--<ion-col width-05>
                <ion-spinner *ngIf="!(mensagens)"></ion-spinner>
            </ion-col>-->
            <ion-col col-10 [hidden]="!mensagens">
                <ion-textarea maxlength="1500" autoresize="100" placeholder="Entre com a mensagem" [(ngModel)]="mens_txt_mensagem" autocomplete="true"
                    spellcheck="true"></ion-textarea>
            </ion-col>
            <ion-col class="colSend" col-2 [hidden]="!mensagens">
                <button ion-button (click)="enviarMensagem()">
                    <ion-icon name="send"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>