<ion-header>
    <ion-navbar color="ctd-navbar">
        <ctd-header-modal [titulo]=[(nameFrom)] [pathImage]=[(pathImage)]></ctd-header-modal>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-lines>
        <ion-item *ngFor="let msg of mensagens | async" style="background-color:#c2b49a !important">
            <div class="chatBubble">
                <!--<img class="profile-pic {{msg.position}}" src="{{msg.img}}">-->
                <div class="chat-bubble" [ngClass]="{'right': uid === msg.from, 'left': uid != msg.from}">
                    <div class="message">{{msg.mensagem}}</div>
                    <div class="message-detail">
                        <span style="font-weight:bold;">{{msg.user}}</span>
                        <span>{{msg.dateTime}}</span>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row>
            <!--<ion-col width-05>
                <ion-spinner *ngIf="!(mensagens)"></ion-spinner>
            </ion-col>-->
            <ion-col col-10 [hidden]="!mensagens">
                <ion-textarea fz-elastic placeholder="Entre com a mensagem" [(ngModel)]="mensagem"></ion-textarea>
            </ion-col>
            <ion-col col-2 [hidden]="!mensagens">
                <button ion-button (click)="enviarMensagem()"><ion-icon name="send"></ion-icon></button>
            </ion-col>
        </ion-row>

    </ion-toolbar>
</ion-footer>