ctd-header-modal {
    .btnAnuncioBack {
        margin: -2px 10px !important;

    }
    .btnAnuncioIcon {
        font-size: 1.7rem !important;
        font-weight: 700 !important;
    }
    
    .toolbar-md {
      min-height: 50px !important;
    } 
}
