page-tp-det-scrapfashion {
    // ion-content {
    //     background-color: #c2b49a !important;
    // }

    .preco {
        font-weight: bold !important;
        color: #1e90ff;
    }

    p.conteudo {
        margin: 3px 10px 3px 10px !important;
        text-align: justify !important;
    }

}
