page-mensagem-lista {
    ion-content {
            background-color: #c2b49a !important;
        }

    ion-item-divider {
        background-color: #c2b49a !important;
        height: 5px !important;
        min-height: 0px !important;
    }
}
