<ion-header>
  <ion-navbar color="ctd-navbar">
    <ion-title>Marcados</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="ctd-card" *ngFor="let item of vitrines">
    <div *ngIf="item.tian_sq_id == 'TP-1'">
      <ion-item (click)="openPage(item)">
        <ion-avatar item-left>
          <img src="{{item.anun_tx_urlavatar}}">
        </ion-avatar>
        <h2>{{item.anun_tx_titulo}}</h2>
        <p>{{item.anun_tx_subtitulo}}</p>
      </ion-item>
      <img src="{{item.anun_tx_urlbanner}}" (click)="openPage(item)" />
      <ion-row>
        <ion-col width-100 class="ctd-btn-vitrine">
          <ctd-buttons [urlSlide]=[(item.anun_tx_urlslide1)] [smartSite]=[(item.anun_in_smartsite)] [empresaKey]=[(item.empr_sq_id)] [vitrine]=[(item)] [vitrineSalva]=[item.anun_nr_salvos]></ctd-buttons>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="item.tian_sq_id == 'TP-2'">
      <ion-item (click)="openPage(item)">
        <ion-avatar item-left>
          <img src="{{item.anun_tx_urlavatar}}">
        </ion-avatar>
        <h2>{{item.anun_tx_titulo}}</h2>
        <p>{{item.anun_tx_subtitulo}}</p>
      </ion-item>
      <img src="{{item.anun_tx_urlbanner}}" (click)="openPage(item)" />
      <ion-row>
        <ion-col width-100 class="ctd-btn-vitrine">
          <ctd-buttons [urlSlide]=[(item.anun_tx_urlslide1)] [smartSite]=[(item.anun_in_smartsite)] [empresaKey]=[(item.empr_sq_id)]
            [vitrine]=[(item)] [vitrineSalva]=[item.anun_nr_salvos]></ctd-buttons>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>

</ion-content>