<ion-header>
    <ion-navbar color="ctd-navbar">
        <ctd-header></ctd-header>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-refresher (ionRefresh)="reloadVitrines($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="loading">
        <img src="assets/img/ring.gif" style="display:block; margin:auto" />
    </div>

    <ion-card class="ctd-card" *ngFor="let item of vitrines">
        <div *ngIf="item.tian_sq_tipoanuncio == 1">
            <ion-item (click)="openPub()">
                <ion-avatar item-left>
                    <img src="{{item.anun_tx_urlavatar}}">
                </ion-avatar>
                <h2>{{item.anun_tx_titulo}}</h2>
                <p>{{item.anun_tx_subtitulo}}</p>
            </ion-item>
            <img src="{{item.anun_tx_urlbanner}}" (click)="openPub(1, item)" />
            <ion-buttons start>
                <ctd-buttons></ctd-buttons>
            </ion-buttons>
        </div>
        <div *ngIf="item.tian_sq_tipoanuncio == 2">
            <ion-item>
                <ion-avatar item-left>
                    <img src="{{item.anun_tx_urlavatar}}">
                </ion-avatar>
                <h2>{{item.anun_tx_titulo}}</h2>
                <p>{{item.anun_tx_subtitulo}}</p>
            </ion-item>
            <img src="{{item.anun_tx_urlbanner}}" />
            <ion-buttons start>
                <ctd-buttons></ctd-buttons>
            </ion-buttons>
        </div>
        <div *ngIf="item.tian_sq_tipoanuncio == 3">
            <ion-item>
                <ion-avatar item-left>
                    <img src="{{item.anun_tx_urlavatar}}">
                </ion-avatar>
                <h2>{{item.anun_tx_titulo}}</h2>
                <p>{{item.anun_tx_subtitulo}}</p>
            </ion-item>
            <ion-card-content class="ctd-faixa">
                {{item.anun_tx_texto}}
            </ion-card-content>
            <ion-buttons start>
                <ctd-buttons></ctd-buttons>

            </ion-buttons>
        </div>
        <div *ngIf="item.tian_sq_tipoanuncio == 4">
            <ion-item>
                <ion-avatar item-left>
                    <img src="{{item.anun_tx_urlicon}}">
                </ion-avatar>
                <h2>{{item.anun_tx_titulo}}</h2>
                <p>{{item.anun_tx_subtitulo}}</p>
            </ion-item>
            <ion-card-content>
                {{item.anun_tx_texto}}
            </ion-card-content>
            <ion-buttons start>
                <ctd-buttons></ctd-buttons>
            </ion-buttons>
        </div>
        <div *ngIf="item.tian_sq_tipoanuncio == 5">
            <ion-item>
                <ion-avatar item-left>
                    <img src="{{item.anun_tx_urlicon}}">
                </ion-avatar>
                <h2>{{item.anun_tx_titulo}}</h2>
                <p>{{item.anun_tx_subtitulo}}</p>
            </ion-item>
            <ion-buttons start>
                <ctd-buttons></ctd-buttons>
            </ion-buttons>
        </div>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" limit="20%">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Aguarde...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>