<ion-header>
    <ion-navbar color="ctd-navbar">
        <ctd-header></ctd-header>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item-group>
        <ion-item-divider color="ctd-subtitulo">{{categoriaNome}}</ion-item-divider>
        <ion-item *ngFor="let item of empresas">
            <ion-item-divider *ngIf="item.isIndexNome == true" color="ctd-background">{{item.empr_nm_razaosocial}}</ion-item-divider>
            <div *ngIf="item.isIndexNome == false" (click)="openGuia(item)">
                <ion-avatar *ngIf="item.empr_tx_logomarca != ''" item-left style="float:left">
                    <img src="{{item.empr_tx_logomarca}}">
                </ion-avatar>
                <h2>{{item.empr_nm_razaosocial}}</h2>
                <p>{{item.empr_tx_endereco}}<br>{{item.empr_tx_telefone_1}}</p>
            </div>
        </ion-item>
    </ion-item-group>

    <!--<ion-item-group>-->
    <!--<ion-item-divider color="ctd-subtitulo">BARES E RESTAURANTES</ion-item-divider>
    <ion-item-divider color="ctd-background">C</ion-item-divider>
    <ion-item (click)="openGuiaContato()">
        <ion-avatar item-left>
            <img src="assets/img/thumb_200x200_cafedalu.jpg">
        </ion-avatar>
        <h2>Café da Lú</h2>
        <p>Rua Prudente de Moraes, 56<br>(32) 3271-1805</p>
    </ion-item>  
    <ion-item-divider color="ctd-background">E</ion-item-divider>
    <ion-item (click)="openGuiaContato()">
        <ion-thumbnail item-left>
            <img src="assets/img/thumb_200x200_extra.jpg">
        </ion-thumbnail>
        <h2>Extra Supermercados</h2>
        <p>Rua Barão de Catas Altas, 34<br>(32) 3271-2324</p>
    </ion-item>
    <ion-item-divider color="ctd-background">K</ion-item-divider>
    <ion-item (click)="openGuiaContato()">
        <ion-avatar item-left>
            <img src="assets/img/thumb_200x200_kaluana.jpg">
        </ion-avatar>
        <h2>Kaluanã Creperia</h2>
        <p>Praça Vicente Bianco, 21<br>(32) 3271-1544</p>      
    </ion-item>  
    <ion-item-divider color="ctd-background">M</ion-item-divider>
    <ion-item (click)="openGuiaContato()">
        <ion-avatar item-left>
            <img src="assets/img/ctd_avatar_5.png">
        </ion-avatar>
        <h2>Marcelo Marceneiro</h2>
        <p>Rua Domingos de Oliveira, 16<br>(32) 3271-1588</p>
    </ion-item>  
    <ion-item-divider color="ctd-background">S</ion-item-divider>
    <ion-item (click)="openGuiaContato()">
        <ion-thumbnail item-left>
            <img src="assets/img/thumb_200x200_scrap.jpg">
        </ion-thumbnail>
        <h2>Scrap Fashion</h2>
        <p>Rua Barão de Catas Altas 240<br>(32) 3271-1201/9 9987-0989</p>      
    </ion-item>  
  </ion-item-group>-->
</ion-content>