page-noticia-full {
    ion-content {
        background-color: #fff6e4 !important;
    }

    ion-content p {
        text-align: justify;

    }

    .lista {
        text-align: justify;
        background-color: #c2b49a;
        font-size: 95%;
    }

    ol {
        margin-left: 10px !important;
        padding: 3px !important;
    }

    img {
        text-align: center;
    }

    .swiper-zoom-container {
        height: 250px !important;
        width: auto;
    }
    .swiper-pagination-fraction {
        bottom: -6px !important;
    }
}
