ctd-header-municipio {
    
    .btnGeolocalizacao {
        color: white !important;
        font-size: 1.6em !important;
        margin: 5px 0px 0px 0px !important;
    }

    .municipioSelecionado {
        color: white !important;
        font-size: 1.4em !important;
        margin: 5px 0px 0px 0px !important;
    }

    .bar-button-md:first-child {
        margin-left: 46px !important;
    }
    .toolbar-md {
         padding: 0px !important; 
    }
}
