<ion-navbar color="ctd-navbar">
    <ion-grid>
        <ion-row>
            <ion-col col-7 class="municipioSelecionado">
                <!-- {{municipioSelected.muni_nm_municipio}} -->
                {{this.glbVar.getMunicipioPadrao().muni_nm_municipio}}
            </ion-col>
            <ion-col col-2 text-center>
                <!-- <button ion-button icon-only (click)="openCidade()"> -->
                    <ion-icon  (click)="openCidade()" class="btnGeolocalizacao" name="md-pin"></ion-icon>
                <!-- </button> -->
            </ion-col>
            <ion-col col-3 text-right>
                <button ion-button menuToggle right>
                    <ion-icon name="menu"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-navbar>