<ion-header>
    <ion-navbar color="ctd-navbar">
        <ctd-header></ctd-header>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-card class="ctd-card">
        <img src="{{smartSite.smar_tx_imagem1}}" />
        <!--<ion-buttons start>
            <ctd-buttons></ctd-buttons>
        </ion-buttons>-->
        <ion-item>
            <ion-avatar item-left>
                <img src="{{empresa.empr_tx_logomarca}}">
            </ion-avatar>
            <h2>{{smartSite.smar_tx_titulo}}</h2>
            <p class="ctd-70">
                {{smartSite.smar_tx_subtitulo}}
            </p>
        </ion-item>
    </ion-card>
    <p class="titulo">SOBRE</p>
    <p class="conteudo">
        {{smartSite.smar_tx_conteudo}}
    </p>
    <ion-item *ngIf="smartSite.smar_in_preco == true">
        <p>PRODUTOS</p>
        <p>Conheça nossos produtos...</p>
        <button ion-button small item-right icon-left (click)="openTabelaPreco('scrapfashion')">
            <ion-icon name="book"></ion-icon>
            Produtos
        </button>
    </ion-item>
    <p class="titulo">FALE CONOSCO</p>
    <ion-item-group>
        <ion-item *ngIf="exibirBtnEnviarMensagem == true">
            <ion-icon name="chatbubbles"></ion-icon>
            Envie-nos uma mensagem
            <button ion-button item-right icon-center color="light" (click)="openMensagem()">
                <ion-icon name="chatbubbles"></ion-icon>
            </button>
        </ion-item>
        <ion-item>
            <ion-icon name="call"></ion-icon>
            {{empresa.empr_tx_telefone_1}}
            <button ion-button item-right icon-center color="light" (click)="discar(empresa.empr_tx_telefone_1)">
                <ion-icon name="call"></ion-icon>
            </button>
        </ion-item>
        <ion-item>
            <ion-icon name="mail"></ion-icon>
            {{empresa.empr_ds_email}}
        </ion-item>
        <ion-item>
            <ion-icon name="pin"></ion-icon>
            {{enderecoCompleto}}
        </ion-item>
        <ion-item>
            <ion-icon name="globe"></ion-icon>
            <a detail-none (click)="launch()">{{empresa.empr_ds_site}}</a>
        </ion-item>
    </ion-item-group>
</ion-content>