page-smartSite {
    .ctd-70 {
        font-size: 70% !important;
    }

    h2 {
        color: blue !important;
    }

    .titulo {
        font-weight: bold !important;
        margin: 15px 10px 5px 10px !important;
    }

    .conteudo {
        margin: 5px 10px 5px 10px !important;
        text-align: justify !important;
    }

    ion-item-group ion-item {
        font-size: 90% !important;
        background-color: #ccc !important;
    }   
    .loading-ios,
.loading-md,
.loading-wp {
  .my-loading-class {
    background-color: transparent;
    box-shadow: none;
  }
}
.loading-md, .loading-wrapper {
    .myload {
        background:none !important;
    }
}

.teste {
    background-color: transparent;
    box-shadow: none;
  }

 .loading-wrapper{
        background:none;
        // box-shadow: none;
      }
      .img-align{
        height:80px;
      }
}


