<ion-menu id="menu1" [content]="menuContent">
    <ion-content class="menu">
        <ion-toolbar>
            <ion-item class="menu-cabecalho">
                <ion-avatar item-left>
                    <!--<img src="assets/img/adam.jpg">-->
                    <img src='{{userLogged.usua_tx_urlprofile}}'>
                </ion-avatar>
                <h2>{{userLogged.usua_nm_usuario}}</h2>
            </ion-item>
        </ion-toolbar>
        <ion-list>
            <button class="menu-opcoes" ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
            <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
                {{p.title}}
            </button>
        </ion-list>
        <!-- <ion-item-group>
            <ion-list>
                <button class="menu-opcoes" ion-item menuClose *ngFor="let p of subpages" (click)="openPage(p)">
                    <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
                    {{p.title}}
                </button>
            </ion-list>
        </ion-item-group> -->
    </ion-content>
    <ion-footer>
        <ion-toolbar>
          <ion-title class="midilabs">Versão: 2.0.8</ion-title>
        </ion-toolbar>
      </ion-footer>
</ion-menu>


<ion-nav [root]="rootPage" #menuContent swipeBackEnabled="false" main></ion-nav>