page-ss-scrapfashion {
    .ctd-70 {
        font-size: 70% !important;
    }

    h2 {
        color: blue !important;
    }

    .titulo {
        font-weight: bold !important;
        margin: 15px 10px 5px 10px !important;
    }

    .conteudo {
        margin: 5px 10px 5px 10px !important;
        text-align: justify !important;
    }

    ion-item-group ion-item {
        font-size: 90% !important;
        background-color: #ccc !important;
    }
}
