page-tp-scrapfashion {
    ion-content {
        background-color: #c2b49a !important;
    }

    ion-badge {
        font-size: 70% !important;
        background-color: #ccc;      
    }

    .curtida {
        font-size: 90% !important;
    }
        
}
