page-vitrine-anuncio-3 {
    ion-content {
        background-color: #c2b49a !important;
    }
    
    ion-card-content.ctd-faixa {
        background-color: #000 !important;
        color: #fff;
        text-align: center;
        padding:3px 0px 0px 3px !important;
    }
}
