page-signup {
    .logo {
        height: 50% !important;
        width: 50% !important;
        align-content: center !important;
        padding: 0px !important;
    }

    a {
        text-decoration: none;
    }
}
