ctd-buttons {
    ion-badge {
        font-size: 70% !important;
        // background-color: #ccc;
        background-color:black;      
    }
    
    .btnBotaoAvancar {
        color:dimgrey;
    }
}