
<button ion-button icon-only clear class="btnBotaoAvancar" *ngIf="statusInCurtida() == false && 
exibirBtnCurtir() == true" (click)="curtirVitrine()">
    <ion-icon name="md-heart-outline">
        <ion-badge class="ctd_image" item-right id="notifications-badge" color="danger">{{getNrCurtidas()}}</ion-badge>
    </ion-icon>
</button>

<button ion-button icon-only clear class="btnBotaoAvancar" *ngIf="statusInCurtida() == true && 
 exibirBtnCurtir() == true" [ngClass]="{'salvar': statusInCurtida() == true}">
    <ion-icon name="md-heart">
        <ion-badge class="ctd_image" item-right id="notifications-badge" color="danger">{{getNrCurtidas()}}</ion-badge>
    </ion-icon>
</button>

<button ion-button icon-only clear class="btnBotaoAvancar" *ngIf="exibirBtnVisitas() == true">
    <ion-badge class="ctd_visita" item-right color="ctd-button">{{getNrVisitas()}}</ion-badge>
</button>

<button ion-button icon-only clear class="btnBotaoAvancar" *ngIf="exibirBtnRepublicar() == true" (click)="showPublicar()">
    <ion-icon name="ios-redo"></ion-icon>
</button>

<button ion-button icon-only clear class="btnBotaoAvancar" *ngIf="exibirBtnCrudVitrine() == true" (click)="showExclusao()">
    <ion-icon name="md-trash"></ion-icon>
</button>

<button ion-button icon-only clear class="btnBotaoAvancar" *ngIf="exibirBtnCrudVitrine() == false" [ngClass]="{'salvar': vitrineSalva == 1}"
    (click)="marcarVitrine()">
    <ion-icon name="md-bookmark"></ion-icon>
</button>

<button ion-button icon-only clear class="btnBotaoAvancar" *ngIf="urlSlide != ''" (click)="openSlideNoticia(1,vitrine)">
    <ion-icon name="md-images">
        <ion-badge *ngIf="getNrImagens() != ''" class="ctd_image" item-right id="notifications-badge" color="danger">{{getNrImagens()}}</ion-badge>
    </ion-icon>
</button>
<button ion-button icon-only clear class="btnBotaoAvancar" *ngIf="smartSite == true" (click)="openSmartSite()">
    <ion-icon name="globe"></ion-icon>
</button>