<!--<button ion-button icon-only clear color="ctd-button">
    <ion-icon name="star"></ion-icon>
</button>
<button ion-button icon-only clear color="ctd-button">
    <ion-icon name="heart"></ion-icon>
    <ion-badge item-right color="ctd-button">60</ion-badge>
</button>-->
<button ion-button icon-only clear color="ctd-button" *ngIf="urlSlide[0] != ''"
 (click)="openSlideNoticia(1,vitrine[0])">
    <ion-icon name="md-images"></ion-icon>
</button>
<button ion-button icon-only clear color="ctd-button" *ngIf="smartSite[0] == true" (click)="openSmartSite()">
    <ion-icon name="globe"></ion-icon>
</button>
