page-guia-contato {
    .ctd-tel {
        padding-left: 15px;
        font-weight: bold;
    }

    .ctd-msg {
        padding-left: 15px;
        font-weight: normal;
    }

    .ctd-www {
        padding-left: 15px;
        font-weight: normal;
    }
}
