<ion-header>
  <ctd-header-modal [titulo]=[(titulo)] [modal]=true></ctd-header-modal>
</ion-header>
<ion-content>
  <form [formGroup]="frmPromocaoCrud" (ngSubmit)="salvar(frmPromocaoCrud.value)">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked class="labelProfile">Título</ion-label>
            <ion-input type="text" maxlength="40" [(ngModel)]="cupom.cupo_tx_titulo" formControlName="cupo_tx_titulo" autocomplete="true"
              spellcheck="true"></ion-input>
          </ion-item>
          <div *ngIf="!frmPromocaoCrud.controls.cupo_tx_titulo.valid && frmPromocaoCrud.controls.cupo_tx_titulo.touched" class="ctd-label-error">*Informe o título.</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked class="labelProfile">Descrição</ion-label>
            <ion-textarea maxlength="500" autoresize="150" [(ngModel)]="cupom.cupo_tx_descricao" formControlName="cupo_tx_descricao"
              autocomplete="true" spellcheck="true"></ion-textarea>
          </ion-item>
          <div *ngIf="(!frmPromocaoCrud.controls.cupo_tx_descricao.valid && frmPromocaoCrud.controls.cupo_tx_descricao.touched)" class="ctd-label-error">*Informe a descrição.</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked class="labelProfile">Regulamento</ion-label>
            <ion-textarea maxlength="1000" autoresize="150" [(ngModel)]="cupom.cupo_tx_regulamento" formControlName="cupo_tx_regulamento"
              autocomplete="true" spellcheck="true"></ion-textarea>
          </ion-item>
          <div *ngIf="(!frmPromocaoCrud.controls.cupo_tx_regulamento.valid && frmPromocaoCrud.controls.cupo_tx_regulamento.touched)"
            class="ctd-label-error">*Informe o regulamento.</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>Dt. Validade</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="cupom.cupo_dt_validade" formControlName="cupo_dt_validade"
              cancelText="Cancelar" doneText="Confirmar" [min]="dateMin" [max]="dateMax" (ionCancel)="clearDate()"></ion-datetime>
          </ion-item>
          <div *ngIf="(!frmPromocaoCrud.controls.cupo_dt_validade.valid && frmPromocaoCrud.controls.cupo_dt_validade.touched)" class="ctd-label-error">*Informe a validade.</div>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>Quantidade</ion-label>
            <ion-input type="number" clearInput [(ngModel)]="cupom.cupo_nr_qtdecupom" formControlName="cupo_nr_qtdecupom" [brmasker]="{mask:'00000000', len:8}"></ion-input>
          </ion-item>
          <div *ngIf="(!frmPromocaoCrud.controls.cupo_nr_qtdecupom.valid && frmPromocaoCrud.controls.cupo_nr_qtdecupom.touched)" class="ctd-label-error">*Informe a quantidade.</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-25>
          <ion-item>
            <ion-label stacked>Vl. Atual</ion-label>
            <ion-input type="tel" [(ngModel)]="cupom.cupo_nr_vlatual" formControlName="cupo_nr_vlatual" (keyup)="currencyChange()" placeholder="0.00"></ion-input>
          </ion-item>
          <div *ngIf="(!frmPromocaoCrud.controls.cupo_nr_vlatual.valid && frmPromocaoCrud.controls.cupo_nr_vlatual.touched)" class="ctd-label-error">*Informe o valor atual.</div>
        </ion-col>
        <ion-col width-25 offset-50>
          <ion-item>
            <ion-label stacked>% Desconto</ion-label>
            <ion-input type="number" maxlength=9 placeholder="0%" [brmasker]="{mask:'00', len:2}" clearInput [(ngModel)]="cupom.cupo_nr_desconto"
              formControlName="cupo_nr_desconto"  ></ion-input>
          </ion-item>
          <div *ngIf="(!frmPromocaoCrud.controls.cupo_nr_desconto.valid && frmPromocaoCrud.controls.cupo_nr_desconto.touched)" class="ctd-label-error">*Informe o desconto.</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-scroll scrollX="true" scroll-avatar>
              <ion-avatar>
                <img src="{{avatar.path}}" *ngFor="let avatar of imagens" class="scroll-item" (click)="selecionarTipoImagem(avatar, imagens)"/>
              </ion-avatar>
            </ion-scroll>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button full large [disabled]="!frmPromocaoCrud.valid">Salvar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>